.clientPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: max-content;
  background: #4a4a4a;
  border-radius: 10px;
  padding: 20px;
}

.buttonWrapper {
  margin-top: 10px;
  width: 25%;
}
